/* common shared styles */
body {
    font-family: 'Merriweather', serif;
}

/* banner related styles */

.header-banner {
    background-image: url('../resources/Banner\ Image.png');
    background-position: center;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: auto;
    border-radius: 16px;
    margin-top: 50px;
}

.banner.container {
    padding: 200px 344px 177px 344px;
}

.banner-h2 {
    color: #FFF;
    font-family: Merriweather;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px;
    margin-top: 16px;
    padding-top: 0px;
}

.banner-h4 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 150px 500px 0px 500px;
    margin-bottom: 16px;
}

/* 65% OFF Related Styles */
.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
    margin-top: 120px;
    margin-bottom: 0%;
}

nav .font-inter {
    font-family: 'Inter', sans-serif;
}

#discount {
    margin-bottom: 40px;
    margin-top: 120px;
}

#holiday-deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0%;
    margin-bottom: 15px;
}

#catagory {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0%;
}

.new-year-photo {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: auto;
    margin-bottom: 120px;
}

/* welcome for party related styles */

div .party-everything {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin: auto;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
}

#party-year {
    padding: 75px 120px 65px 25px;
}

.party {
    display: flex;
    align-items: center;
}

#welcome-for-party {
    color: white;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 0%;
    margin: 126px 94px 24px 120px;
    font-family: 'Merriweather', serif;
}

#party-caption {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0%;
    margin: 0px 39px 32px 110px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.btn-join {
    background-color: black;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px 600px 148px 150px;
    border: none;
    padding: 0%;
}

/* Portfolio related Styles */
.rectengle-pricture{
    margin-bottom: 120px;
}

.all-about-portfolio {
    background-color: white;
    margin: auto;
}

.rectengle-pricture a{
    margin-right: 20px;
}


.our-awesome-portfolio {
    margin: auto;
}

div .best-gift {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 120px 120px 16px 270px;
}

div .head-portfolio {
    display: inline;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 0px 120px 16px 270px;
}

.portfolio-comment {
    margin: 0px 500px 16px 270px;
}

.rectengle-pricture ul{
    margin-left: 240px;
}


.rec-inline-1 {
    margin: 0px 120px 16px 270px;
    display: inline;
}

.rec-inline-2 {
    display: inline;
}

/* subscribe related style */

.subscribe {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 0px;
    margin-bottom: 15px;
}

.subscribe-comment {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 0px 220px;
    margin-top: 0%;
}

.like-mail {
    padding: 80px 585px 0px 585px;
    margin-bottom: 0%;
}

.into-the-bg {
    text-align: center;
}

.background {
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: auto;
}

.input-email {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    padding: 5px 200px 5px 30px;
    margin: 10px 200px;
}

/* footer related style */

footer {
    flex-shrink: 0;
    background: #070211;
    margin-top: 120px;
}



#phone-number {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

#web-link {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.ftr-column-left {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    padding: 120px 800px 50px 140px;
}

.ftr-column-right {
    list-style: none;
    padding: 120px 280px 50px 200px;
}

.footer-up {
    display: flex;
    gap: 560px;
    color: #FFF;
}

.line {
    width: 1320px;
    height: 1px;
}

/* footer icon style */

.ftr-icon {
    display: flex;
    padding: 45px 1150px;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.ftr-icon a {
    padding-left: 25px;
}

#ftr-down {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 50px 800px 120px 140px;
}

.ftr-fisnish {
    display: flex;
    gap: 200px;
}

#btn-unsubscribe {
    margin: 80px 10px 140px 700px;
    border: none;
}